@import url('https://fonts.google.com/specimen/Barlow+Semi+Condensed');
*
{
    margin:0px;
    padding:0px
}
:root
{
--bgc:rgba(27,43,76,255) ;
}
body
{
font-family:'Barlow';
background-color:var(--bgc);
margin: 1rem;
padding-top: 1rem;
color: white;
}
.headerwindow
{
    margin: 0px;
    border: 2px solid rgb(161, 166, 173) ;
    border-radius: 15px;
    margin-left: 25%;
    margin-right: 25%;
}
.logo
{
    width: 50%;
    float: left;
    padding: 20px;
}
.scorewindow
{
    background-color: white;
    border-color: var(--bgc);
    float: right;
    padding: 25px;
    border-radius: 8px;
    margin: 20px;
    
}
.clearfix
{
    clear:both
}
.scorelabel
{
    position: relative;
    color: var(--bgc);
    font-weight: bold;
    bottom: 15px;
}
.score
{
    color: var(--bgc);
    font-weight: 900;
    text-align: center;
    font-size: 50px;
}
.pentagon
{
    padding: 50px;
    display: block;
    margin: 0 auto;
}
.selectors
{
    padding:20px;
    border-radius: 75px; 
    
}
.scissors
{
    border:10px solid hsl(39, 89%, 49%);
    padding: 15px;
}
.rock
{
    border:10px solid hsl(349, 71%, 52%);
}
.paper
{
    padding: 15px;
    border:10px solid hsl(230, 89%, 62%);
}
.lizard
{
    padding: 15px;
    border:10px solid hsl(261, 73%, 60%);
}
.spock
{
    padding: 15px;
    border:10px solid hsl(189, 59%, 53%);
}
.rules
{
    background-color: rgb(255, 255, 255);
    position: absolute;
    padding: 50px;
    border-radius: 15px;
    top: 20%;
    left:35%;
    z-index: 2;
}
.closerules
{
    position: absolute;
    left: 85%;
    top: 20px;
    font-size: 50px;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    background-color: white;
    color: darkgrey;
    z-index: 2;
}
.overlay
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 120%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}
.hidden
{
    display: none;
}
.ruleslabel
{
    background-color: var(--bgc);
    color: white;
    padding: 10px 15px;
    border: 1px solid white;
    border-radius: 5px;

}
.left
{
    align-content: flex-end;
    margin-left: 90%;
}