@import url('https://fonts.google.com/specimen/Barlow+Semi+Condensed');
*
{
    margin:0px;
    padding:0px
}
:root
{
--bgc:rgba(27,43,76,255) ;
}
body
{
font-family:'Barlow';
background-color:var(--bgc);
margin: 1rem;
padding-top: 1rem;
color: white;
}
.headerwindow
{
    margin: 0px;
    border: 2px solid rgb(161, 166, 173) ;
    border-radius: 15px;
    margin-left: 25%;
    margin-right: 25%;
}
.logo
{
    width: 50%;
    float: left;
    padding: 20px;
}
.scorewindow
{
    background-color: white;
    border-color: var(--bgc);
    float: right;
    padding: 25px;
    border-radius: 8px;
    margin: 20px;
    
}
.clearfix
{
    clear:both
}
.scorelabel
{
    position: relative;
    color: var(--bgc);
    font-weight: bold;
    bottom: 15px;
}
.score
{
    color: var(--bgc);
    font-weight: 900;
    text-align: center;
    font-size: 50px;
}
